{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guardian AI - Protecting Digital Childhood</title>
    <meta name="description" content="AI that protects, empowers, and enlightens — nurturing the next generation to thrive in a digital world." />
    <script type="module" crossorigin src="{% static 'landing_page/index-Bkhn5KNI.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'landing_page/index-BWZ6UCgY.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
